// ---------------------------------------------- //
// SSDS Nextflow pipeline config file             //
// ---------------------------------------------- //
// Default config options for all environments.
// Cluster-specific config options should be saved
// in the conf folder and imported under a profile name here.

//GLOBAL DEFAULT PARAMETERS
params {
	//INPUT DATA PARAMETERS
	name="SSDS_pipeline"
	inputcsv="${baseDir}/tests/fastq/input.csv"	

	//WORKING DIRECTORIES PARAMETERS
	outdir="${baseDir}/${params.name}.outdir"
	src="${baseDir}/accessoryFiles/SSDS/scripts"
	scratch="${baseDir}/scratch"
	publishdir_mode="copy"

	//GENOME PARAMETERS
	genome="mm10"
	genome2screen=['mm10','hg19','dm3','dm6','hg38','sacCer2','sacCer3']
	chrsize="${baseDir}/accessoryFiles/SSDS/mm10/mm10.chrom.sizes"  // downloaded from https://hgdownload.soe.ucsc.edu/goldenPath/mm10/bigZips/mm10.chrom.sizes (2021-01-11)
	
	//TRIMMING PARAMETERS
	with_trimgalore=false
        trimgalore_adapters=''
	trimg_quality=10
	trimg_stringency=6
	trimmomatic_adapters="${baseDir}/TruSeq2-PE.fa"
	trim_minlen="25"
	trim_crop="50"
	trim_cropR1="50"
	trim_cropR2="50"
	trim_slidingwin="4:15"
	trim_illuminaclip="2:20:10"
        multiqc_configfile="${baseDir}/multiqc_config.yaml"

	//MAPPING PARAMETERS
	no_multimap=false
	custom_bwa="${baseDir}/accessoryFiles/SSDS/bwa_0.7.12"
	custom_bwa_ra="${baseDir}/accessoryFiles/SSDS/bwa_ra_0.7.12"
	bamPGline = '@PG\\tID:ssDNAPipeline1.8_nxf_KBRICK'

	//FILTERING PARAMETERS
	filtering_flag="2052"

	//BIGWIG PARAMETERS
	binsize="50"
	bigwig_profile="T1" // ["T1", "T12", "T1rep", "T12rep"]
	kbrick_bigwig=false

	//QC PARAMETERS
	hotspots="${baseDir}/accessoryFiles/SSDS/hotspots"
	multiqc_dev_conda_env="${baseDir}/multiqc_dev"
        with_ssds_multiqc=false
	custom_multiqc="${baseDir}/accessoryFiles/SSDS/MultiQC_SSDS_Rev1/bin/multiqc"

	//PEAK CALLING PARAMETERS
	satcurve=false
	with_control=false
	sctype="standard"
	reps="3"
	blacklist="${baseDir}/accessoryFiles/SSDS/blacklist/mm10/blackList.bed"
	bed_trimqual="30"
	macs_bw="1000"
	macs_slocal="5000"
	macs_extsize="800"
	macs_qv="0.1"
	macs_pv="0.1"
	no_chrY=true
	
	//IDR ANALYSIS PARAMETERS
	with_idr=false
	nb_replicates="0"
	idr_peaktype="regionPeak"
	idr_maxpeaks="100000"
	idr_threshold_r1="0.05"
	idr_threshold_r2="0.05"
	idr_threshold_truerep="0.05"
	idr_threshold_poolrep="0.01"
	idr_rank="p.value"
	idr_macs_qv="-1"
	idr_macs_pv="0.1" 
	idr_filtering_pattern="chr[1-9X]+"

	//WEB KEYS PARAMETERS
	//ncbi_api_key='bd4fbe570fd4707136df9302e75b1aa9b108'    // attached to pauline auffret ncbi account.
	tower_token='db33ecd8b1cc2e1b39972b4d82614d379b84f878' // attached to pauline auffret tower account.

}

// PROFILES PARAMETERS
profiles {
  conda {
    process.conda = "${baseDir}/environment.yml"
  }
  singularity {
    process.container = "${baseDir}/singularity.img"
    singularity.enabled = true
    singularity.autoMounts = true
  }
}

//NEXTFLOW REPORT PARAMETERS
report {
   enabled = true
   file = "${params.outdir}/nxfReports/report.html"
}
 
timeline {
    enabled = true
    file = "${params.outdir}/nxfReports/timeline.html"
}

trace {
   enabled = true
   file = "${params.outdir}/nxfReports/trace.txt"
}

manifest {
   name = 'SSDS nextflow pipeline'
   author = 'Kevin Brick (original pipelines SSDSnextflowPipeline and callSSDSpeaks) and Pauline Auffret for the adaptation'
   homePage = 'https://github.com/kevbrick/SSDSnextflowPipeline ; https://github.com/kevbrick/callSSDSpeaks ; and https://gitlab.igh.cnrs.fr/pauline.auffret/ssdsnextflowpipeline'
   description = 'Single-Stranded-DNA-Sequencing (SSDS) Pipeline : Align, Parse and call Peaks from ssDNA.  2012: Kevin Brick / 2020: IGH adaptation Pauline Auffret'
   mainScript = 'main.nf'
   nextflowVersion = '>=20.04.1'
   version = '2.0'
}

dag {
   enabled = true
   file = "${params.outdir}/nxfReports/dag.png"
}

tower {
  accessToken = params.tower_token
  enabled = false
}


