// ---------------------------------------------- //
// SSDS Nextflow pieline config file              //
// ---------------------------------------------- //
// Default config options for all environments.
// Cluster-specific config options should be saved
// in the conf folder and imported under a profile name here.

//GLOBAL DEFAULT PARAMETERS
params {
	//INPUT DATA PARAMETERS
	name="SSDS_pipeline"
	fqdir=false
	sra_ids=false
	bamdir=false 

	//WORKING DIRECTORIES PARAMETERS
	outdir="${baseDir}/${params.name}.outdir"
	src="${baseDir}/accessoryFiles/SSDS/scripts"
	scratch="${baseDir}/scratch"

	//GENOME PARAMETERS
	genome="mm10"
	genome2screen=['mm10','hg19','dm3','dm6','hg38','sacCer2','sacCer3']

	//TRIMMING PARAMETERS
	with_trimgalore=false
	trimg_quality=10
	trimg_stringency=6
	adapters="${baseDir}/TruSeq2-PE.fa"
	trim_minlen="25"
	trim_crop="50"
	trim_cropR1="50"
	trim_cropR2="50"
	trim_slidingwin="4:15"
	trim_illuminaclip="2:20:10"

	//MAPPING PARAMETERS
	custom_bwa="${baseDir}/accessoryFiles/SSDS/bwa_0.7.12"
	custom_bwa_ra="${baseDir}/accessoryFiles/SSDS/bwa_ra_0.7.12"
	bamPGline = '@PG\\tID:ssDNAPipeline1.8_nxf_KBRICK'

	//QC PARAMETERS
	hotspots="${baseDir}/accessoryFiles/SSDS/hotspots"
	custom_multiqc="${baseDir}/accessoryFiles/SSDS/MultiQC_SSDS_Rev1/bin/multiqc"

	//WEB KEYS PARAMETERS
	ncbi_api_key='bd4fbe570fd4707136df9302e75b1aa9b108'    // attached to pauline auffret ncbi account.
	tower_token='db33ecd8b1cc2e1b39972b4d82614d379b84f878' // attached to pauline auffret tower account.

	//CLUSTER DEFAULT PARAMETERS
        //max_cpus = 16
        //max_memory = 16.GB
        //max_time = 72h
}

// PROFILES PARAMETERS
profiles {
  conda {
    process.conda = "${baseDir}/environment.yml"
  }
}

//NEXTFLOW REPORT PARAMETERS
report {
   enabled = true
   file = "${params.outdir}/nxfReports/report.html"
}
 
timeline {
    enabled = true
    file = "${params.outdir}/nxfReports/timeline.html"
}

trace {
   enabled = true
   file = "${params.outdir}/nxfReports/trace.txt"
}

manifest {
   name = "${params.name}"
   author = 'Kevin Brick'
   homePage = 'https://github.com/kevbrick/SSDSnextflowPipeline'
   description = 'Single-Stranded-DNA-Sequencing (SSDS) Pipeline : Align & Parse ssDNA.  2020: Kevin Brick / IGH adaptation Pauline Auffret'
   mainScript = 'main.nf'
   nextflowVersion = '>=20.04.1'
   version = '1.8_NF_pa'
}

dag {
   enabled = true
   file = "${params.outdir}/nxfReports/dag.png"
}

tower {
  accessToken = params.tower_token
  enabled = false
}

// Function to ensure that resource requirements don't go beyond
// a maximum limit
// def check_max(obj, type) {
//  if(type == 'memory'){
//     if(obj.compareTo(params.max_memory) == 1)
//       return params.max_memory
//     else
//       return obj
//   } else if(type == 'time'){
//     if(obj.compareTo(params.max_time) == 1)
//       return params.max_time
//     else
//       return obj
//   } else if(type == 'cpus'){
//     return Math.min( obj, params.max_cpus )
//   }
//}

