// ---------------------------------------------//
// Nextflow configuration file for IGH cluster  //
// ---------------------------------------------//
 
//DEFAULT CLUSTER CONFIGURATION 
process {
	cpus = 1
	memory = 4.GB
	executor = 'slurm' 
	//queue = 'debug'
	queue = 'computepart'
	//scratch = "${params.scratch}"
	errorStrategy = { task.exitStatus == 143 ? 'retry' : 'finish' } 
	maxRetries = 1
	axErrors = '-1'
	maxErrors = '-1'    

        //PROCESSES SPECIFIC RESSOURCES REQUIREMENTS	
	withLabel:process_basic {
		cpus = 1
		memory = 4.GB
		time = { 1.hour * task.attempt }
	}
	withLabel:process_low {
    		cpus = 2
    		memory = 10.GB
    		time = { 2.hour * task.attempt }
	}
	withLabel:process_medium {
		cpus = 4
		memory = 16.GB
		time = { 4.hour * task.attempt }
  	}
	withLabel:process_high { 
		cpus = 6
		memory = 16.GB
		time = { 72.hour * task.attempt }
	}
	withLabel:process_long {
		cpus = 6
		memory = 16.GB
		time = { 120.hour * task.attempt }
	}
}

/*
	//PROCESSES SPECIFIC RESSOURCES REQUIREMENTS
	withName:makeScreenConfigFile {
		cpus = 1
		memory = 4.GB
		time = { 1.hour * task.attempt }
	}
	withName:bam2fastq { 
		cpus = 1 
		memory = 8.GB
		time = { 1.hour * task.attempt }
	}
	withName:trimming {
		cpus = 4 
		memory = 10.GB
		time = { 2.hour * task.attempt }
 	}
	withName:fastqc { 
		cpus = 2
		memory = 4.GB
		time = { 1.hour * task.attempt }
	}
	withName:bwaAlign {
		cpus = 12
		memory = 16.GB
		time = { 48.hour * task.attempt }
	}
	withName:filterBam {    
		cpus = 8
		memory = 16.GB 
		time = { 4.hour * task.attempt }
	}
	withName:parseITRs {    
		cpus = 8 
		memory = 16.GB
		time = { 4.hour * task.attempt }
 	}
	withName:makeDeeptoolsBigWig { 
		cpus = 1 
		memory = 4.GB 
		time = { 1.hour * task.attempt }
	} 
	withName:samStats { 
		cpus = 1
		memory = 4.GB
		time = { 1.hour * task.attempt }
	} 
	withName:toFRBigWig {
		cpus = 1
		memory = 4.GB
		time = { 1.hour * task.attempt }
	}
	withName:makeSSreport {
		cpus = 2
		memory = 4.GB
		time = { 1.hour * task.attempt } 
	}
	withName:ssds_multiqc {
		cpus = 2 
		memory = 4.GB
		time = { 1.hour * task.attempt }
	}
	withName:ssds_multiqc {
		cpus = 2
		memory = 4.GB
		time = { 1.hour * task.attempt }
	}
 } 
*/

 
// GENOMES LOCATION

params {
    genomebase = "/poolzfs/genomes"
    genomes {
        'mm10' {
	    genomedir		= "${genomebase}/Mus_musculus/UCSC/mm10/Sequence/WholeGenomeFasta"
            genome_fasta	= "${genomebase}/Mus_musculus/UCSC/mm10/Sequence/WholeGenomeFasta/genome.fa"
            genome_name		= "mm10"
	    fai			= "${genomebase}/Mus_musculus/UCSC/mm10/Sequence/WholeGenomeFasta/genome.fa.fai"
        }
        'hg19' {
            genomedir		= "${genomebase}/Homo_sapiens/UCSC/hg19/Sequence/BWAIndex"
            genome_fasta	= "${genomebase}/Homo_sapiens/UCSC/hg19/Sequence/BWAIndex/genome.fa"
            genome_name		= "hg19"
	    fai			= "${genomebase}/Homo_sapiens/UCSC/hg19/Sequence/WholeGenomeFasta/genome.fa.fai"
        }
	'hg38' {
	    genomedir           = "${genomebase}/Homo_sapiens/UCSC/hg38/Sequence/BWAIndex"
	    genome_fasta        = "${genomebase}/Homo_sapiens/UCSC/hg38/Sequence/BWAIndex/genome.fa"
	    genome_name         = "hg38"
	    fai                 = "${genomebase}/Homo_sapiens/UCSC/hg38/Sequence/WholeGenomeFasta/genome.fa.fai"
	}
	'sacCer2' {
	    genomedir           = "${genomebase}/Yeast/UCSC/sacCer2/Sequence/BWAIndex"
	    genome_fasta        = "${genomebase}/Yeast/UCSC/sacCer2/Sequence/BWAIndex/genome.fa"
	    genome_name		= "sacCer2"
	    fai			= "${genomebase}/Yeast/UCSC/sacCer2/Sequence/WholeGenomeFasta/genome.fa.fai"
	}
	'sacCer3' {
	    genomedir           = "${genomebase}/Yeast/UCSC/sacCer3/Sequence/BWAIndex"
	    genome_fasta        = "${genomebase}/Yeast/UCSC/sacCer3/Sequence/BWAIndex/genome.fa"
	    genome_name         = "sacCer3"
	    fai                 = "${genomebase}/Yeast/UCSC/sacCer3/Sequence/WholeGenomeFasta/genome.fa.fai"
	}
	'dm3' {
	    genomedir           = "${genomebase}/Drosophila_melanogaster/UCSC/dm3/Sequence/BWAIndex"
	    genome_fasta        = "${genomebase}/Drosophila_melanogaster/UCSC/dm3/Sequence/BWAIndex/genome.fa"
	    genome_name         = "dm3"
	    fai			= "${genomebase}/Drosophila_melanogaster/UCSC/dm3/Sequence/WholeGenomeFasta/genome.fai"
	}
	'dm6' {
	    genomedir           = "${genomebase}/Drosophila_melanogaster/UCSC/dm6/Sequence/BWAIndex"
	    genome_fasta        = "${genomebase}/Drosophila_melanogaster/UCSC/dm6/Sequence/BWAIndex/genome.fa"
	    genome_name         = "dm6"
	    fai                 = "${genomebase}/Drosophila_melanogaster/UCSC/dm6/Sequence/WholeGenomeFasta/genome.fai"
	}
    }
}
