// * -------------------------------------------------------- *
// *  SSDSnextflowPipeline shenron cluster main config file   *
// * -------------------------------------------------------- *


//NEXTFLOW REPORT PARAMETERS
 params.outdir = './nxfOut'
 report {
   enabled = true
   file = "${params.outdir}/nxfReports/report.html"
 }

 timeline {
   enabled = true
   file = "${params.outdir}/nxfReports/timeline.html"
 }

 trace {
   enabled = true
   file = "${params.outdir}/nxfReports/trace.txt"
 }

 manifest {
   description = '2020: Kevin Brick'
 }


//MAIN PROCESS DEFINITION
 process {
 
 project = 'SSDS_alignment_Pipeline'

//DEFAULT CONFIGURATION
 cpus = 4
 memory = 64.GB
 executor = 'slurm'
 scratch = '/work/${USER}/${SLURM_JOBID}'
 errorStrategy = { task.exitStatus == 143 ? 'retry' : 'finish' }
 maxRetries = 1
 maxErrors = '-1'
 env{
    TMPDIR='/work/${USER}/${SLURM_JOBID}'
  }

//MAX CONFIG
 max_memory = 128.GB
 max_cpus = 32
 max_time = 96h 

//ENVIRONMENT MODULES AND SPECIFIC RESSOURCES REQUIREMENTS
  $getFQs {
    cpus = 12
    memory = 32.GB
    time = { 24.hour * task.attempt }
    // errorStrategy = { task.exitStatus == 143 ? 'retry' : 'ignore' }
  }

  $runFASTQC {
    cpus = 16
    memory = 16.GB
    time = { 8.hour * task.attempt }
    // errorStrategy = { task.exitStatus == 143 ? 'retry' : 'ignore' }
  }

  $trimFASTQs {
    cpus = 16
    memory = 4.GB
    time = { 8.hour * task.attempt }
    // errorStrategy = { task.exitStatus == 143 ? 'retry' : 'ignore' }
  }

  $bwaAlign {
    cpus = 16
    memory = 32.GB
    time = { 60.hour * task.attempt }
    // errorStrategy = { task.exitStatus == 143 ? 'retry' : 'ignore' }
  }

  $mergeInitBAMs {
    cpus = 8
    memory = 32.GB
    time = { 6.hour * task.attempt }
    // errorStrategy = { task.exitStatus == 143 ? 'retry' : 'ignore' }
  }

  $parseITRs {
    cpus = 16
    memory = 32.GB
    time = { 8.hour * task.attempt }
   // errorStrategy = { task.exitStatus == 143 ? 'retry' : 'ignore' }
  }

  $gatherOutputs {
    cpus = 16
    memory = 32.GB
    time = { 8.hour * task.attempt }
    // errorStrategy = { task.exitStatus == 143 ? 'retry' : 'ignore' }
  }

  $makeDeeptoolsBigWig {
    cpus = 16
    memory = 32.GB
    time = { 8.hour * task.attempt }
    // errorStrategy = { task.exitStatus == 143 ? 'retry' : 'ignore' }
  }

  $samStats {
    cpus = 2
    memory = 16.GB
    time = { 6.hour * task.attempt }
    // errorStrategy = { task.exitStatus == 143 ? 'retry' : 'ignore' } 
  }

  $toFRBigWig {
    cpus = 2
    memory = { 8.GB * task.attempt }
    time = { 6.hour * task.attempt }
  }

  $makeSSreport {
    cpus = 2
    memory = { 8.GB * task.attempt }
    time = { 6.hour * task.attempt }
  }

  $multiQC {
    cpus = 2
    memory = { 8.GB * task.attempt }
    time = { 2.hour * task.attempt }
  }
}



//Defines parameters
params {
    // illumina iGenomes reference file paths
    igenomes_base = '/poolzfs/commun/pipeline_software/iGenome/'
    genomes {
        'BDGP6' {
            mature  = "${params.igenomes_base}/Drosophila_melanogaster/Ensembl/BDGP6/Annotation/SmallRNA/mature.fa"
            hairpin = "${params.igenomes_base}/Drosophila_melanogaster/Ensembl/BDGP6/Annotation/SmallRNA/hairpin.fa"
            bowtie  = "${params.igenomes_base}/Drosophila_melanogaster/Ensembl/BDGP6/Sequence/BowtieIndex/genome"
            bowtie2 = "${params.igenomes_base}/Drosophila_melanogaster/Ensembl/BDGP6/Sequence/Bowtie2Index/genome"
            fasta   = "${params.igenomes_base}/Drosophila_melanogaster/Ensembl/BDGP6/Sequence/WholeGenomeFasta"
            gtf     = "${params.igenomes_base}/Drosophila_melanogaster/Ensembl/BDGP6/Annotation/Genes/genes.gtf"
        }
        'GRCh38' {
            mature  = "${params.igenomes_base}/Homo_sapiens/UCSC/hg38/Annotation/SmallRNA/mature.fa"
            hairpin = "${params.igenomes_base}/Homo_sapiens/UCSC/hg38/Annotation/SmallRNA/hairpin.fa"
            bowtie  = "${params.igenomes_base}/Homo_sapiens/UCSC/hg38/Sequence/BowtieIndex/genome"
            bowtie2 = "${params.igenomes_base}/Homo_sapiens/UCSC/hg38/Sequence/Bowtie2Index/genome"
            fasta   = "${params.igenomes_base}/Homo_sapiens/UCSC/hg38/Sequence/WholeGenomeFasta"
            gtf     = "${params.igenomes_base}/Homo_sapiens/UCSC/hg38/Annotation/Genes/genes.gtf"
        }
        'GRCm38' {
            mature  = "${params.igenomes_base}/Mus_musculus/Ensembl/GRCm38/Annotation/SmallRNA/mature.fa"
            hairpin = "${params.igenomes_base}/Mus_musculus/Ensembl/GRCm38/Annotation/SmallRNA/hairpin.fa"
            bowtie  = "${params.igenomes_base}/Mus_musculus/Ensembl/GRCm38/Sequence/BowtieIndex/genome"
            bowtie2 = "${params.igenomes_base}/Mus_musculus/Ensembl/GRCm38/Sequence/Bowtie2Index/genome"
            fasta   = "${params.igenomes_base}/Mus_musculus/Ensembl/GRCm38/Sequence/WholeGenomeFasta"
            gtf     = "${params.igenomes_base}/Mus_musculus/Ensembl/GRCm38/Annotation/Genes/genes.gtf"
        }
    }
   softPath = '/poolzfs/commun/pipeline_software/'
}

