// ---------------------------------------- //
// Nextflow configuration file for Shenron  //
// ---------------------------------------- //
 
//NEXTFLOW REPORT PARAMETERS
report {
   enabled = true
   file = "${params.outdir}/nxfReports/report.html"
}
 
timeline {
    enabled = true
    file = "${params.outdir}/nxfReports/timeline.html"
}

trace {
   enabled = true
   file = "${params.outdir}/nxfReports/trace.txt"
}

manifest {
   description = '2020: Kevin Brick'
}


//MAIN PROCESS DEFINITION
process {
 	$getFQs.module = ['nextflow/0.30.2']
	$runFASTQC.module = ['fastqtools/0.8','fastqc/0.11.8','bwa/0.7.17']
	$trimFASTQs.module = ['trimgalore/0.4.5','cutadapt/2.9']
	$bwaAlign.module = ['java/1.8.0_92','picard/2.9.2','fastxtoolkit/0.0.14','samtools/1.8']
        $mergeInitBAMs.module = ['java/1.8.0_92','picard/2.9.2','samtools/1.8']
        $parseITRs.module = ['picard/2.9.2','samtools/1.8']
        $gatherOutputs.module = ['picard/2.9.2','samtools/1.8']
        $makeDeeptoolsBigWig.module = ['samtools/1.8','deeptools/3.0.1','ucsc/365']
	$samStats.module = ['samtools/1.8']
	$toFRBigWig.module = ['samtools/1.8','ucsc/365','bedtools/2.25.0','picard/2.9.2']
	$makeSSreport.module = ['python/2.7','bedtools/2.25.0','samtools/1.8']
	$multiQC.module = ['python/2.7']


        project = 'SSDS_alignment_Pipeline'

//DEFAULT CONFIGURATION
 cpus = { 4 }
 memory = { 64.GB }
 executor = 'slurm'
 //queue = 'debug'
 //scratch = '/work/${USER}/${SLURM_JOBID}'
 //scratch = '/work/${USER}/scratch'
 scratch = '${SCRATCH}'
 errorStrategy = { task.exitStatus == 143 ? 'retry' : 'finish' }
 maxRetries = 1
 maxErrors = '-1'
 env{
      TMPDIR='${SCRATCH}'
  }

//MAX CONFIG
 max_memory = { 128.GB }
 max_cpus = { 32 }
 max_time = { 96h } 

//ENVIRONMENT MODULES AND SPECIFIC RESSOURCES REQUIREMENTS
  $getFQs {
    cpus = { 12 }
    memory = { 32.GB }
    time = { 24.hour * task.attempt }
    // errorStrategy = { task.exitStatus == 143 ? 'retry' : 'ignore' }
  }

  $runFASTQC {
    cpus = { 16 }
    memory = { 16.GB }
    time = { 8.hour * task.attempt }
    // errorStrategy = { task.exitStatus == 143 ? 'retry' : 'ignore' }
  }

  $trimFASTQs {
    cpus = { 16 }
    memory = { 4.GB }
    time = { 8.hour * task.attempt }
    // errorStrategy = { task.exitStatus == 143 ? 'retry' : 'ignore' }
  }

  $bwaAlign {
    cpus = { 16 }
    memory = { 32.GB }
    time = { 60.hour * task.attempt }
    // errorStrategy = { task.exitStatus == 143 ? 'retry' : 'ignore' }
  }

  $mergeInitBAMs {
    cpus = { 8 }
    memory = { 32.GB }
    time = { 6.hour * task.attempt }
    // errorStrategy = { task.exitStatus == 143 ? 'retry' : 'ignore' }
  }

  $parseITRs {
    cpus = { 16 }
    memory = { 32.GB }
    time = { 8.hour * task.attempt }
   // errorStrategy = { task.exitStatus == 143 ? 'retry' : 'ignore' }
  }

  $gatherOutputs {
    cpus = { 16 }
    memory = { 32.GB }
    time = { 8.hour * task.attempt }
    // errorStrategy = { task.exitStatus == 143 ? 'retry' : 'ignore' }
  }

  $makeDeeptoolsBigWig {
    cpus = { 16 }
    memory = { 32.GB }
    time = { 8.hour * task.attempt }
    // errorStrategy = { task.exitStatus == 143 ? 'retry' : 'ignore' }
  }

  $samStats {
    cpus = { 2 }
    memory = { 16.GB }
    time = { 6.hour * task.attempt }
    // errorStrategy = { task.exitStatus == 143 ? 'retry' : 'ignore' } 
  }

  $toFRBigWig {
    cpus = { 2 }
    memory = { 8.GB * task.attempt }
    time = { 6.hour * task.attempt }
  }

  $makeSSreport {
    cpus = { 2 }
    memory = { 8.GB * task.attempt }
    time = { 6.hour * task.attempt }
  }

  $multiQC {
    cpus = { 2 }
    memory = { 8.GB * task.attempt }
    time = { 2.hour * task.attempt }
  }
}




