// ---------------------------------------- //
// Nextflow configuration file for Shenron  //
// ---------------------------------------- //
 
//DEFAULT CONFIGURATION 
process {
	cpus = 1
	memory = 4.GB
	executor = 'slurm' 
	//queue = 'debug'
	queue = 'computepart'
	//scratch = "${params.scratch}"
	errorStrategy = { task.exitStatus == 143 ? 'retry' : 'finish' } 
	maxRetries = 1
	axErrors = '-1'
	maxErrors = '-1'    

	//PROCESSES SPECIFIC RESSOURCES REQUIREMENTS
	withName:bam2fastq { 
		cpus = 1 
		memory = 8.GB
		time = { 1.hour * task.attempt }
	}
	withName:trimFASTQ {
		cpus = 4 
		memory = 10.GB
		time = { 2.hour * task.attempt }
 	}
	withName:runFASTQC { 
		cpus = 4
		memory = 4.GB
		time = { 1.hour * task.attempt }
	}
	withName:bwaAlign {
		cpus = 16
		memory = 16.GB
		time = { 4.hour * task.attempt }
	}
	withName:mergeInitBAMs {    
		cpus = 8
		memory = 16.GB 
		time = { 1.hour * task.attempt }
	}
	withName:parseITRs {    
		cpus = 8 
		memory = 16.GB
		time = { 1.hour * task.attempt }
 	}
	withName:gatherOutputs {
		cpus = 8
		memory = 16.GB 
		time = { 1.hour * task.attempt }
	}
	withName:makeDeeptoolsBigWig { 
		cpus = 8 
		memory = 16.GB 
		time = { 1.hour * task.attempt }
	} 
	withName:samStats { 
		cpus = 2
		memory = 8.GB
		time = { 1.hour * task.attempt }
	} 
	withName:toFRBigWig {
		cpus = 2
		memory = 8.GB
		time = { 1.hour * task.attempt }
	}
	withName:makeSSreport {
		cpus = 2
		memory = 4.GB
		time = { 1.hour * task.attempt } 
	}
	withName:multiQC {
		cpus = 2 
		memory = 4.GB
		time = { 1.hour * task.attempt }
	}
 } 


